RewriteEngine On

# Allow authorization header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Block direct access to sensitive files and folders
RewriteRule ^(config|controllers|middleware|models|repositories|routes|services|utils)/ - [F,L]
RewriteRule ^\.env$ - [F,L]

# Route all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
