@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&family=Plus+Jakarta+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'GilroyLight';
  src: url('/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/primary/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@theme {
  --color-brand-blue: #2563EB;
  --color-brand-teal: #00C4B4;
  --font-sans: "PlusJakartaSans", "Inter", sans-serif;
  --font-serif: "Cormorant Garamond", "Playfair Display", Georgia, serif;
  --font-gilroy: "Gilroy", sans-serif;
  --font-gilroylight: "GilroyLight", sans-serif;
  --font-plus-jakarta: "PlusJakartaSans", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 196, 180, 0.3);
  border-radius: 99px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 196, 180, 0.55);
}


b {
  background: rgba(0, 196, 180, 0.3);
  border-radius: 99px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 196, 180, 0.55);
}



html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.hero-gradient {
  background: linear-gradient(
    90deg,
    #F8FAFD 0%,
    #EAF3FC 20%,
    #CBE6FB 45%,
    #8BC8F7 65%,
    #4B9AF5 82%,
    #2E6EF2 100%
  );
}